.generic-content-wrapper {
	border: 1px solid #111;
	background-color: transparent;
}

.vcard, #contact-block, .widget {
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

.abook-pending-contact, .abook-permschange {
	background: #402900;
}

#cboxContent a {
	color: #000;
}

#cboxContent {
	color: #111;
}

#adminpage table tr:hover {
    background-color: #222;
}

#colorbox {
	border: 0px solid #1E1E1E;
	background-color: #1E1E1E;
}

.chat-item-text {
	background-color: #222;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #333 !important;
}

.well {
	background-color: #1E1E1E;
	border: 1px solid #222;
	background-image: linear-gradient(to bottom, #1E1E1E 0px, #1E1E1E 100%);
}

.alert-info {
	color: #CCC;
	background-color:#333;
	border-color: #444;
	background-image: linear-gradient(to bottom, #333 0px, #333 100%);
}

.abook-self {
	background-color: #251111;
}

.acl-button-show,
.acl-button-hide {
	color: #fff;
}

#acl-showall {
	color: #fff;
}

#acl-list {
	border: 1px solid #333;
}

.acl-list-item {
	border: 1px solid #333;
}

.modal-content {
    background-color: #111;
}

.btn-default {
	background-color: #1e1e1e;
	border-color: #222;
	color: #ccc;
	text-shadow: none;
	box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active .btn-default.active {
	background-color: #222;
	border-color: #222;
	color: #fff;
	text-decoration: underline;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
	text-decoration: none;
}

.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n {
	border: 1px solid #222;
	background: #1e1e1e;
}

input {
	border: 1px solid #222;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
}

.notify-seen a {
	background: #111;
	color: #222 !important;
}

.notify-seen a:hover {
	background: #222;
	color: #ccc !important;
}

nav .dropdown-menu>li>a{
	color: #fff;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #222;
	background-image: none;
}

nav .dropdown-menu .divider{
	background-color: #222;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #222;
	background-image: none;
}

nav .dropdown-menu {
	background-color: #000;
}

#nav-search-text {
	background-color: #999;
}

.autocomplete .selected {
	background: #999;
}

.nav-tabs{
	border-bottom:1px solid #333;
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{
	border:1px solid #333;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus { 
	color: #fff;
	background-color: #111; 
}

.nav-tabs.nav-justified > li > a {
	color: #ccc;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    text-decoration: underline;
    background-color: #222;
	color: #ccc;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: underline;
	background-color: #222;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link { 
	font-weight: bold;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, .active {
	color: #fff !important;
	text-decoration: underline !important;
}

.generic-content-wrapper-styled {
	background-color: rgba(28,28,28,0.8);
}

.autocomplete {
	background: #222;
}

blockquote {
	background-color: #1e1e1e;
	border-left: 3px solid #666;
	color: #ccc;
}

code {
	border: 1px solid #090909;
	background: #000;
	color: #fff;
}

pre {
	background: #000;
	color: #fff;
	border:1px solid #090909;
}

.notif-item a {
	color: #ccc;
}

.notif-item a:hover {
	color: #fff;
}

.dropdown-menu {
	background-color: #222; 
}

.dropdown-menu >li > a {
	color: #ccc; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    	color: #ddd; 
    	background-color: #333; 
	background-image: none;
}

.open .dropdown-toggle.btn-default {
    color: #ccc; 
    background-color: #222; 
    border-color: #222; 
}

.preview {
	background: url('../img/gray_and_black_diagonal_stripes_background_seamless.gif');
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #333;
  }
}

