.generic-content-wrapper {
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	background-color: #fff;
}

.wall-item-content-wrapper.comment {
	background-color: #fff;
}

.section-content-tools-wrapper,
.section-content-wrapper,
.section-content-wrapper-np,
.hide-comments-outer {
	background-color: #fff;
}

#redbasic_converse_center_container {
	display: none;
}

.wall-item-conv {
	padding-top: 10px;
	padding-left: 10px;
}
