.generic-content-wrapper {
	border: 1px solid #000;
	background-color: transparent;
}

.vcard, #contact-block, .widget {
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

.abook-pending-contact, .abook-permschange {
	background: #000;
}

#cboxContent a {
	color: #000;
}

#cboxContent {
	color: #000;
}

#adminpage table tr:hover {
    background-color: #000;
}

#colorbox {
	border: 0px solid #000;
	background-color: #000;
}

.chat-item-text {
	background-color: #000;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #000 !important;
}

.well {
	background-color: #000;
	border: 1px solid #143D12;
	background-image: linear-gradient(to bottom, #000 0px, #000 100%);
}

.alert-info {
	color: #50f148;
	background-color:#000;
	border-color: #143D12;
	background-image: linear-gradient(to bottom, #000 0px, #000 100%);
}

.abook-self {
	background-color: #000;
}

.acl-button-show,
.acl-button-hide {
	color: #fff;
}

#acl-showall {
	color: #fff;
}

#acl-list {
	border: 1px solid #000;
}

.acl-list-item {
	border: 1px solid #000;
}

.modal-content {
    background-color: #000;
}

.btn-default {
    	background-color: #000;
    	border-color: #143D12;
	color: #32962D;
    	text-shadow: none;
    	box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active .btn-default.active {
	background-color: #000;
	border-color: #143D12;
	color: #50f148;
	text-decoration: underline;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
    	text-decoration: none;
}

.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n { 
	border: 1px solid #143D12;
	background: #000;
}

input {
	border: 1px solid #143D12;
}

input[type="submit"] {
	background-color: #000;
	color: #50f148;
}

.notify-seen a {
	background: #000;
	color: #000 !important;
}

.notify-seen a:hover {
	background: #000;
	color: #50f148 !important;
}

nav .dropdown-menu>li>a{
	color: #50f148;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #50f148;
	background-color: #143D12;
	background-image: none;
}


nav .dropdown-menu .divider{
	background-color: #143D12;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #50f148;
	background-color: #143D12;
	background-image: none;
}

nav .dropdown-menu {
	background-color: #000;
}

.rconnect {
	color: #50f148;
}

a.rateme, div.rateme {
	color: #50f148;
	border: 1px solid #000;
}

a.rconnect, a.rateme, div.rateme {
	color: #50f148;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #50f148;
}

#nav-search-text {
	background-color: #000;
}

.autocomplete .selected {
	background: #000;
}

.nav-tabs{
	border-bottom:1px solid #143D12;
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{
	border:1px solid #143D12;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus { 
	color: #46D43F;
	background-color: #000; 
}

.nav-tabs.nav-justified > li > a {
	color: #50f148;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    text-decoration: underline;
    background-color: #000;
	color: #50f148;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: underline;
	background-color: #143D12;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link { 
	font-weight: bold;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, .active {
	color: #50f148 !important;
	text-decoration: underline !important;
}

.generic-content-wrapper-styled {
	background-color: rgba(0,0,0,0.8);
}

.autocomplete {
	background: #000;
}

blockquote {
	background-color: #000;
	border-left: 3px solid #143D12;
	color: #32962D;
}

code {
	border: 1px solid #143D12;
	background: #000;
	color: #32962D;
}

pre {
	background: #000;
	color: #32962D;
	border:1px solid #143D12;
}

.notif-item a {
	color: #50f148;
}

.notif-item a:hover {
	color: #50f148;
}

.dropdown-menu {
	background-color: #000; 
}

.dropdown-menu >li > a {
	color: #32962D; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #50f148; 
    background-color: #143D12; 
	background-image: none;
}

.open .dropdown-toggle.btn-default {
    color: #50f148; 
    background-color: #000; 
    border-color: #143D12; 
}

.preview {
	background: url('../img/gray_and_black_diagonal_stripes_background_seamless.gif');
}


@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #143D12;
  }
}


