.vcard, #contact-block, .widget {
	border-bottom: 1px solid #fff;
	background-color: rgba(255,255,255,0.4);
}

.abook-pending-contact, .abook-permschange {
	background: #fff;
}

#cboxContent a {
	color: #fff;
}

#cboxContent {
	color: #fff;
}

#adminpage table tr:hover {
    background-color: #fff;
}

#colorbox {
	border: 0px solid #fff;
	background-color: #fff;
}

.chat-item-text {
	background-color: #fff;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #fff !important;
}

.well {
	background-color: #fff;
	border: 1px solid #000;
	background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
}

.alert-info {
	color: #000;
	background-color:#fff;
	border-color: #000;
	background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
}

.abook-self {
	background-color: #fff;
}

.acl-button-show,
.acl-button-hide {
	color: #000;
}

#acl-showall {
	color: #000;
}

#acl-list {
	border: 1px solid #fff;
}

.acl-list-item {
	border: 1px solid #fff;
}

.modal-content {
    background-color: #fff;
}

.btn-default {
    	background-color: #fff;
    	border-color: #000;
	color: #111;
    	text-shadow: none;
    	box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active .btn-default.active {
	background-color: #fff;
	border-color: #000;
	color: #000;
	text-decoration: underline;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
    	text-decoration: none;
}

.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n { 
	border: 1px solid #000;
	background: #fff;
}

input {
	border: 1px solid #000;
}

input[type="submit"] {
	background-color: #fff;
	color: #000;
}

.notify-seen a {
	background: #fff;
	color: #fff !important;
}

.notify-seen a:hover {
	background: #fff;
	color: #000 !important;
}

nav .dropdown-menu>li>a{
	color: #000;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #000;
	background-color: #F5F5F5;
	background-image: none;
}


nav .dropdown-menu .divider{
	background-color: #F5F5F5;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #000;
	background-color: #F5F5F5;
	background-image: none;
}

nav .dropdown-menu {
	background-color: #fff;
}

.rconnect {
	color: #000;
	background-color: #fff;
}

a.rateme, div.rateme {
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
}

a.rconnect, a.rateme, div.rateme {
  color: #000;
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background-image:         linear-gradient(to bottom, #fff 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff, GradientType=0);
	background-color: #fff;
	border-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-toggle {
	border-color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
	background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff, GradientType=0);
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #fff;
	color: #000;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #fff;
}

#nav-search-text {
	border-color: #fff;
	background-color: #F5F5F5;
}

.autocomplete .selected {
	background: #F5F5F5;
}

#nav-search-text-ac .autocomplete {
	border: 1px solid #fff;
}

#usermenu-caret, .navbar-inverse .navbar-nav > li > a {
	color: #111;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-toggle .icon-bar, #nav-search-spinner, #avatar:hover + #usermenu-caret, #expand-aside, #expand-tabs {
	color: #000;
}

.nav-tabs{
	border-bottom:1px solid #000;
}

.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{
	border:1px solid #000;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus { 
	color: #000;
	background-color: #fff; 
}

.nav-tabs.nav-justified > li > a {
	color: #000;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    	text-decoration: underline;
    	background-color: #fff;
	color: #000;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: underline;
	background-color: #F5F5F5;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link { 
	font-weight: bold;
	color: #000; 
}

a:hover, .fakelink:hover, .profile-import b, .field.checkbox:hover label {
	color: #000; 
}

.divgrow-showmore {
	color: #000;
}

.field.checkbox:hover > div label {
	border-color: #000;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, .active {
	color: #000 !important;
	text-decoration: underline !important;
}

header #banner {
  color: #fff;
}

body {
	background-color: #fff;
	color: #000;
}

.jothidden > input {
	border: 1px solid #fff;
	background-color: #fff;
}

.jothidden .bootstrap-tagsinput {
	border-color: #fff;
	background-color: #fff;
}

.generic-content-wrapper-styled {
	background-color: rgba(255,255,255,0.8);
}

.wall-item-content-wrapper.comment, .hide-comments-outer {
	background-color: rgba(255,255,255,0.4);
	border-color: rgba(255,255,255,0.8);
}

#photo-view-wrapper, .wall-item-content-wrapper, .wall-item-comment-wrapper, .section-title-wrapper, .section-subtitle-wrapper, .section-content-tools-wrapper, [id^="cloud-index-"]:hover td, .cloud-index-active, [id^="webpage-list-item-"]:hover td, [id^="block-list-item-"]:hover td,
[id^="layout-list-item-"]:hover td, [id^="menu-list-item-"]:hover td, [id^="mitem-list-item-"]:hover td, .onoffswitch-inner:after {
	background-color: rgba(255,255,255,0.8);
}

.onoffswitch-inner:before {
    background-color: rgba(255,255,255,0.8);
	color: #000;
}

.section-content-tools-wrapper, .section-content-wrapper, .section-content-wrapper-np {
	background-color: rgba(255,255,255,0.4);
}

.tool-icons, .admin-icons, a .drop-icons, .jot-icons, .item-tool, .like-rotator, .comment-icon, .widget h3 {
	color: #111;
}

.profile-import input {
	color: #000;
}

.autocomplete {
	color: #000;
	background: #fff;
}

blockquote {
	background-color: #fff;
	border-left: 3px solid #000;
	color: #111;
}

code {
	border: 1px solid #000;
	background: #fff;
	color: #000;
}

pre {
	background: #fff;
	color: #111;
	border:1px solid #000;
}

.notif-item a {
	color: #000;
}

.notif-item a:hover {
	color: #000;
}

.dropdown-menu {
	background-color: #fff; 
}

.dropdown-menu >li > a {
	color: #000; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #000; 
    background-color: #F5F5F5; 
	background-image: none;
}

.open .dropdown-toggle.btn-default {
    color: #000; 
    background-color: #fff; 
    border-color: #fff; 
}

.preview {
	background: url('../img/gray_and_white_diagonal_stripes_background_seamless.gif');
}


@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 767px) {
	aside#region_1 {
		border-right: 1px solid #fff;
	}
	}
