/* jot */

.jothidden input[type="text"] {
	border: 0px;
	margin: 0px;
	height: 39px;
	width: 100%;
}

.jothidden {
	display:none;
}

#jot-title-wrap,
#jot-pagetitle-wrap,
#jot-category-wrap {
	border-bottom: 1px solid #ccc;
}

#jot-attachment-wrap {
	border-top: 1px solid #ccc;
}

#jot-title-wrap input,
#jot-pagetitle-wrap input {
	padding: 10px;
}

#profile-jot-text {
	resize: none;
	border-width: 0px;
	height: 39px;
	line-height: 19px;
	padding: 10px;
	width: 100%;
	display: inherit;
}

#profile-jot-text.jot-expanded {
	resize: vertical;
}

#profile-jot-text.hover {
	background-color: aliceblue;
	opacity: 0.5;
	box-shadow: inset 0 0px 7px #5cb85c;
}

.comment-edit-text-empty.hover, .comment-edit-text-full.hover  {
	background-color: aliceblue;
	opacity: 0.5;
	box-shadow: inset 0 0px 7px #5cb85c;
}


.jot-attachment {
	border: 0px;
	padding: 10px;
	width: 100%;
}

#profile-jot-text-loading {
	float: left;
	padding: 30px 0px 0px 12px;
}

#profile-jot-submit-wrapper {
	border-top: 1px solid #ccc;
	padding: 10px;
}

#profile-jot-perms-end {
	height: 30px;
}

#profile-jot-wrapper {
	margin-bottom: 30px;
}

#profile-jot-plugin-wrapper {
	margin-top: 10px;
}

#profile-rotator-wrapper {
	float: left;
}

#profile-rotator {
	padding: 15px 0px 0px 15px;
}

/* conversation */

.thread-wrapper.toplevel_item {
	margin-bottom: 20px;
}

/* conv_item */

.wall-item-head {
	padding: 10px 10px 0.5em 10px;
}

.wall-item-content {
	padding: 0.5em 10px;
}

.wall-item-tools {
	padding: 0.5em 10px 10px 10px;
}

.wall-item-info {
	display: block;
	float: left;
	margin-right: 10px;
}

.wall-item-wrapper {
	margin-left:10px;
}

.lockview-panel {
	padding: 3px 20px;
}

.wall-item-lock {
	float: left;
}

a.wall-item-name-link {
	font-weight: bold !important;
}

.wall-item-author {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wall-item-ago .fa-check {
	cursor: pointer;
}

.wall-item-content {
	overflow: hidden;
}

.wall-item-content h1,
.wall-item-content h2 {
	font-size: 1.319em;
}

.wall-item-title h3,
.wall-item-content h3,
.wall-item-content h4 {
	font-size: 1.112em;
}

.wall-item-content img {
	max-width: 100%;
}

.wall-item-title h3 {
	font-weight: bold;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wall-item-title-end {
	clear: both;
}

.wall-item-body {
	word-wrap: break-word;
}

.body-tags {
	margin-top: 5px;
}

.item-tool {
	cursor: pointer;
}

.like-rotator {
	float: right;
	margin: 16px;
}

.item-select {
	opacity: 0.1;
	filter:alpha(opacity=10);
	float: right;
	margin-right: 10px;

}

.item-select:hover,
.checkeditem {
	opacity: 1;
	filter:alpha(opacity=100);
}

.shared_header {
	margin-bottom: 20px;
}

.ivoted {
	color: #337AB7;
}

.item-highlight {
	border-left: 3px solid #337AB7;
}

.item-highlight .wall-item-head,
.item-highlight .wall-item-content,
.item-highlight .wall-item-tools {
	padding-left: 7px;
}

/* comment_item */

.comment-edit-text-empty,
.comment-edit-text-full {
	width: 100%;
	display: inherit;
}

.comment-edit-text-empty {
	padding: 0px 8px;
	line-height: 28px;
	height: 30px;
	overflow: hidden;
	resize: none;

}

.comment-edit-text-full {
	padding: 8px;
	height: 150px;
	overflow: auto;
	resize: vertical;
}

.qcomment {
	border: 1px solid #EEE;
	padding: 3px;
	margin-top: 15px;
	margin-left: 25px;
	width: 125px;
	overflow-y: auto;
}

.qcomment option {
	width: 125px;
	overflow-x: hidden;
}

.qcomment {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.qcomment:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.comment-tools {
	display: none;
	margin-top: 7px;
}

.comment-edit-preview {
	display: none;
	margin-top: 7px;
}

/* disable link handling for unknown entries */
.dropdown-menu > li > a.disabled {
	pointer-events: none;
	cursor: default;
}

.item-verified {
	color: darkgreen;
	font-size: 1em !important;
}

.item-forged {
	color: #FF0000;
	font-size: 1em !important;
}

/* event item */

.event-item-title h3 {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.event-item-description {
	padding-bottom: 10px;
}

.event-item-label {
	font-weight: bold;
}

/* vevent */

.event-title h3 {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
}

.vevent {
	padding-top: 10px;
}

.event-description {
	padding-top: 10px;
	padding-bottom: 10px;
}

.event-label {
	font-weight: bold;
}

/* bb-code */

code {
	font-family: Courier, monospace;
	font-size: 1em;
	padding: 1em 1.5em;
	display: block;
}

code.inline-code {
	padding: 0px 4px;
	display: inline;
}

.overline {
	text-decoration: overline;
}

img.smiley.emoji:hover {
	width: 32px;
	height: 32px;
}


.checklist input {
	margin: 0px;
	vertical-align: middle;
}

.combobox {
	padding: 15px;
}

#filer_save {
	margin-left: 15px;
}
