/* fix borders */
#events-calendar {
	margin-left: -1px;
	margin-bottom: -1px;
}

<<<<<<< HEAD
=======
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #ccc !important;
}

#events-spinner .spinner {
	margin-top: 9px;
	margin-bottom: -9px;
}

>>>>>>> upstream/master
.bootstrap-tagsinput {
	width: 100%;
	padding: 6px 12px;
}
<<<<<<< HEAD
=======

.event-wrapper {
	max-width: 700px;
	height: auto;
	padding: 10px;
}

.event-owner {
	margin-bottom: 15px;
}

.event-owner img {
	margin-right: 5px;
}

.event-buttons,
.event-description {
	margin-top: 10px;
}

#event-upload-form {
	margin-top: 10px;
}

#event-upload-choose {
	width: 100%;
}
>>>>>>> upstream/master
