#ace-editor {
	position: relative;        
	width: 100%;
	height: 500px;
}

#editor {
	width: 100%;
	height: 500px;
}

.fade.in {
	-webkit-transition: opacity 0.5s 0.5s ease;
	-moz-transition: opacity 0.5s 0.5s ease;
	-o-transition: opacity 0.5s 0.5s ease;
	transition: opacity 0.5s 0.5s ease;
}

#new-wiki-form-wrapper {
	display: none;
}

#wikis-index {
	width: 100%;
}

#wikis-index th:nth-child(1),
#wikis-index td:nth-child(1){
	padding: 7px 3px 7px 10px;
}

#wikis-index th:nth-child(2),
#wikis-index td:nth-child(2){
	padding: 7px 10px 7px 7px;
}

#wikis-index th:nth-child(3),
#wikis-index td:nth-child(3){
	padding: 7px 10px 7px 7px;
}

.wikis-index-tool {
	padding: 7px 10px;
}

