 #chatContainer {
	 height: 100%;
	 width: 100%;
 }
 
 #chatTopBar {
	 float: left;
	 height: 400px;
	 width: 77%;
	 overflow-y: auto;
 }
 
 #chatSide {
	 float: right;
	 width: 20%;
	 height: 100%;
 }

 #chatDrop {
	margin: 20px 0;
	float: right;
}

 #chatUsers {
	border: 1px solid #000;
}

 #chatBottomBar {
	 position: relative;
	 bottom: 0;
	 height: 150px;
	 margin-top: 20px;
 }
 
#chatOptionsBar {
	margin-top: 20px;
}

 #chatText {
	 width: 100%;
 }

 section {
	 padding-bottom: 0;
 }

.chat-item {
	padding: 3px;
}

.chat-item-end {
	clear: both;
}

.chat-item-photo {
	float: left;
	height: 32px;
	width: 32px;
}

.chat-body {
	float: left;
	width: 80%;
	margin-left: 15px;
}

.chat-item-text {
	float: left;
	padding: 3px;
	display: inline-block;
}


