/* fix borders */
#events-calendar {
	margin-left: -1px;
	margin-bottom: -1px;
}

#events-spinner .spinner {
	margin-top: 9px;
	margin-bottom: -9px;
}

.bootstrap-tagsinput {
	width: 100%;
	padding: 6px 12px;
}

.event-wrapper {
	max-width: 700px;
	height: auto;
	padding: 10px;
}

.event-owner {
	margin-bottom: 15px;
}

.event-owner img {
	margin-right: 5px;
}

.event-buttons,
.event-description {
	margin-top: 10px;
}
