
h2 {
	margin: 20px 0 20px 5%;
}

.generic-content-wrapper-styled {
	margin-left: auto;
	margin-right: auto;
	max-width: 820px;
	font-size: 1.1em;
}


#register-desc, #register-invite-desc, #register-text, #register-sites {
	font-weight: bold;
	margin-bottom: 15px;
	padding: 8px;
	border: 1px solid #ccc;
}

@media (min-width: 560px) {
.register-label, .register-input {
	float: left;
	width: 50%;
}
}

@media (max-width: 559px) {
.register-label, .register-input {
	float: left;
	max-width: 400px;
}
}

.register-feedback {
	float: left;
	margin-left: 45px;
}

.register-field-end {
	clear: both;
	margin-bottom: 20px;
}

#newchannel-form {
	font-size: 1.4em;	
	margin-left: 15%;
	margin-top: 20px;
	width: 50%;
}

#newchannel-form .descriptive-paragraph {
	color: #888;
	margin-left: 20px;
	margin-bottom: 25px;
}

.newchannel-label {
	float: left;
	width: 275px;
}

.newchannel-role-morehelp {
	float: left;
	width: 32px;
}
.newchannel-input {
	float: left;
	width: 275px;
	padding: 5px;
}

.newchannel-feedback {
	float: left;
	margin-left: 5px;
}

.newchannel-field-end {
	clear: both;
	margin-bottom: 20px;
}
