.profile-thing-list {
	list-style-type: none;
}

.profile-thing-img {
	margin: 7px 0px;
}

.vcard-header {
	cursor: pointer;
	padding: 7px 10px;
	margin-bottom: 3px;
}

.vcard-header:hover,
.vcard-header.active {
	background-color: rgb(238,238,238);
	cursor: pointer;
}

.vcard-header.active:hover {
	cursor: initial;
}

.vcard-add-field {
	margin-top: 8px;
	display: none;
}

.vcard-cancel {
	margin: 6px 10px;
	height: 32px;
	line-height: 32px;
	color: #777;
	font-size: 16px;

	cursor: pointer;
	display: none;
	float: right;
}

.vcard-info {
	display: none;
}

.vcard-nophoto {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #ccc;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #ddd;
}

.vcard-photo {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #ccc;
	text-align: center;
}

.vcard-fn-preview,
input.vcard-fn {
	font-size: 16px !important;
	margin-left: 5px;
}

.vcard-email-preview,
.vcard-tel-preview {
	color: #999;
}


.vcard-fn,
#create_form,
#more_block {
	display: none;
}

input.vcard-fn,
.vcard-fn-create input,
.vcard-org input,
.vcard-title input,
.vcard-tel input,
.vcard-email input,
.vcard-impp input,
.vcard-url input,
.vcard-adr input,
.vcard-note input {
	padding: 0px;
	margin-left: 5px;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px;
	background-color: transparent;
	min-width: 160px;
}

#template-form-vcard-org,
#template-form-vcard-title,
#template-form-vcard-tel,
#template-form-vcard-email,
#template-form-vcard-impp,
#template-form-vcard-url,
#template-form-vcard-adr,
#template-form-vcard-note {
	display: none;
}

.connphone {
	color: green;
}
