#menu-list-table {
	width: 100%;
}

#menu-list-table th:nth-child(2),
#menu-list-table th:nth-child(3) {
	white-space: nowrap;
}

#menu-list-table th:nth-child(7),
#menu-list-table td:nth-child(7) {
	padding: 7px 3px;
	white-space: nowrap;
}

#menu-list-table th:nth-child(8),
#menu-list-table td:nth-child(8) {
	padding: 7px 10px 7px 7px;
	white-space: nowrap;
}

.menu-list-tool {
	padding: 7px 10px;
}
