.widget {
	margin-bottom: 10px;
	padding: 10px;
}

.widget h3 {
	margin-top: 0px;
}

.widget-input {
	width: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
}

.tags {
	word-wrap: break-word;
}

/* suggest */

.suggest-widget-more {
	margin-top: 10px;
}

/* notes */ 

#note-text {
	padding: 5px;
	width: 100%;
	resize: vertical;
	height: 250px;
}

/* saved searches */

#saved-search-list {
	margin-top: 2px;
}


/*  affinity slider */
#main-slider {
	margin: 10px 7px 45px 7px;
}

/* posted date */

.posted-date-selector-months {
	margin: 2px 0px 0px 10px;
}

#posted-date-selector li:not(:first-child) {
	margin-top: 2px;
}

#posted-date-selector-drop li:not(:first-child) {
	margin-top: 2px;
}

/* categories */


/* group */

a.group-edit-tool {
	z-index: 1;
}

.group-edit-icon {
	opacity: 0;
}

li:hover .group-edit-icon {
	opacity: 1;
}

/* Chatrooms */

.chatroomlist td {
	padding: 0 5px 0;
}

/* ratings */

.directory-rating {
	float: right;
	margin-right: 5px;
}

.rating-text-label {
	margin-top: 30px;
}

.directory-rating-text {
	width: 90%;
	margin-left: 5%;
}

.directory-rating-submit {
	margin-top: 15px;
}


/* tasklist */

.tasklist-tasks {
	max-height: 300px;
	overflow-y: auto;
}

#tasklist-new-summary {
	width: 250px;
}

/* events tools */

#event-upload-form {
	margin-top: 10px;
}

#event-upload-choose {
	width: 100%;
}

/* cover photo */

#cover-photo {
	position: relative;
	width: 100%;
	height: auto;
	cursor: pointer;
}

#cover-photo-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 15px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,.7);
}

.cover-photo-title {
	font-size: 30px;
}

.cover-photo-subtitle {
	font-size: 20px;
}
