@media screen and (min-width: 760px) {

	aside {
		padding-top: 52px;
	}

	section {
		padding-top: 52px;
	}

	.navbar-nav > li > a {
		padding-top:7px !important;
		padding-bottom:3px !important;
	}

	.navbar {
		min-height:25px !important;
	}

	nav .navbar-header img {
		height: 29px;
		width: 29px;
		margin-top: 1px;
		border-radius: 4px;
	}

	.navbar-left {
		height: 29px;
	}

	.container-fluid {
		min-height:29px;
	}

	.collapse .navbar-collapse {
		min-height:29px;
	}

	#nav-search-text {
		margin:6px 15px 4px 15px;
	}

	#nav-search-spinner {
		margin: 16px 0px 0px 25px;
	}

	header #banner {
		margin-top:5px;
	}

	nav .dropdown-menu,
	nav .acpopup {
		top: 30px !important;
	}

	nav .badge {
		top: -29px;
	}

	#jGrowl.top-right {
		top: 30px;
		right: 15px;
	}

	.contextual-help-content-open {
		top: 31px;
	}
}
