/**
 * Redbasic
 *
 * Based on duepuntozero Friendica style
 * Originally by Fabio Comuni <fabrix.xm@gmail.com>
 */


/* generals */
html {
	height: 100%;
	font-size: 100%;
}

body {
	font-family: sans-serif, arial, freesans;
	font-size: $body_font_size;
	background-color: $bgcolour;
	background-image: url('$background_image');
	background-attachment: fixed;
	background-size: cover;
	color: $font_colour;
	margin: 0px;
	height: 100%;
}

aside {
	width: $aside_widthpx;
	min-width: $aside_widthpx;
	max-width: $aside_widthpx;
}

main {
	margin-left: auto;
	margin-right: auto;
	max-width: $main_widthpx;
}

h1, .h1, h2, .h2 {
	font-size: 1.667em;
}

h3, .h3, h4, .h4 {
	font-size: 1.334em;
}

h5, .h5, h6, .h6 {
	font-size: 0.75rem;
}

.jslider {
	font-family: sans-serif, arial, freesans;
}

abbr {
	border-bottom: none;
}

/* icons */
.tool-icons,
.cat-icons {
	color: $toolicon_colour;
}

a,
.fakelink {
  color: $link_colour;
}

a:hover,
a:focus,
.fakelink:hover,
.fakelink:focus {
  color: $link_colour;
}

.fakelink {
	cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="file"],
select,
textarea {
	font-family: sans-serif, arial, freesans;
	font-size: $body_font_size;
}

input {
	padding: 5px;
	line-height: 1.5;
	border: 1px solid #ccc;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;	
}

input[type="submit"] {
	background-color: #F0F0F0;
	font-weight: bold;
	color: #0080FF;
	text-decoration: none;
	padding: 6px 12px;
}

input, optgroup, select, textarea {
	color: #333;
	resize: vertical;
}

pre code {
	border: none;
}

code {
	background: #ccc;
	color: #000;
}

pre {
	background: #F5F5F5;
	color: #333;
	border:1px solid #ccc;
}

.heart {
	color: #FF0000;
}

nav,
header {
	opacity: $nav_float_min_opacity;
	filter:alpha(opacity=$nav_percent_min_opacity);
}

#powered-by {
	font-size: 0.5rem;
	position: absolute;
	top: 50px;
	left: 16px;
}

#powered-by img {
	margin-top: -2px;
	height: 10px;
	width: 10px;
}

.error-message {
	color: #FF0000;
	font-size: 1.1em;
	border: 1px solid #FF8888;
	background-color: #FFEEEE;
	padding: 10px;
}

nav #banner #logo-text a {
	font-size: 40px;
	font-weight: bold;
	margin-left: 3px;
 	color: #000000;

}
nav #banner #logo-text a:hover { text-decoration: none; }

.nav-channel-select { margin-left: 8px; }

header #banner {
	z-index: 1040;
	margin-top: 14px;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	font-size: 14px;
	font-family: tahoma, "Lucida Sans", sans;
	color: $banner_colour;
	font-weight: bold;
	whitespace: nowrap;
}

header #banner a,
header #banner a:active,
header #banner a:visited,
header #banner a:link,
header #banner a:hover {
	color: $banner_colour;
	text-decoration: none;
	outline: none;
	vertical-align: bottom;
}

header #banner #logo-img {
  height: 22px;
  margin-top: 5px;
}

header #banner #logo-text {
  font-size: 22px;
}

/* contextual help */
.contextual-help-content {
	display: none;

}

.contextual-help-content-open {
	display: block;
	position: fixed;
	top: 51px;
	width: 100%;
	max-height: 50%;
	background: $comment_item_colour;
	padding: 20px;
	border-bottom: #ccc 1px solid;
	overflow: auto;
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.contextual-help-content dd {
	margin-bottom: 1em;
}

.contextual-help-tool {
	padding: 7px;
	filter: alpha(opacity=20);
	opacity: .2;
}

.contextual-help-tool:hover {
	filter: alpha(opacity=50);
	opacity: .5;
	text-decoration: none;
}

.contextual-help-tool i {
	color: #000;
	font-size: 16px;
}

/* contextual help end */

/* footer */

footer {
	position:fixed;
	bottom:1px;
	text-align: right;
	padding-bottom: 1em;
	padding-right: 3em; 
}

.birthday-today,
.event-today {
	font-weight: bold;
}

.warning-text {
	font-size: 1.2em;
	font-weight: bold;
	color: #ff0000;
}

#noperm-msg {
	margin-top: 15px;
}

.preview {
	background: url('../img/gray_and_white_diagonal_stripes_background_seamless.gif');
}

#theme-preview {
	margin: 15px 0px;
}

/*TODO: we should use one class for all this. */

.group-selected,
.fileas-selected,
.categories-selected,
.search-selected,
.active,
.group-selected:hover,
.fileas-selected:hover,
.categories-selected:hover,
.search-selected:hover,
.active:hover {
	color: $font_colour;
}

#cropimage-wrapper, #cropimage-preview-wrapper {
	float: left;
	padding: 30px;
}

#crop-image-form {
	margin-top: 30px;
	clear: both;
}

.fn {
	font-weight: bold;
	font-size: 16px;
	color: #444444;
}

.vcard {
	margin-bottom: 10px;
	padding: 0px 10px 10px 10px;
	background-color: rgba(254,254,254,0.5);
	border: 1px solid rgba(254,254,254,0.5);
	-moz-border-radius: $radiuspx;
	-webkit-border-radius: $radiuspx;
	border-radius: $radiuspx;
	word-wrap: break-word;
}

.vcard dl,
.vcard .title {
	margin-top: 10px;
	margin-bottom: 0px;
}

.connect-btn-wrapper {
	margin-bottom: 10px;

}

.profile-edit-side-link {
	padding: 3px 0px;
	opacity: 0;
	filter:alpha(opacity=30);
	float: right;
}

.vcard:hover .profile-edit-side-link {
	opacity: 1;
	filter:alpha(opacity=100);
}

#view-contact-end {
	clear: both;
}

#profile-photo-wrapper img {
	width: 100%;
	height: 100%;
	max-width: 300px;
	max-height: 300px;
}

#profile-photo-wrapper {
	width: 251px;
	height: 251px;
	margin-bottom: 10px;
	border-radius: $radiuspx;
}

#hide-friends-yes-label,
#hide-friends-no-label {
	margin-left: 125px;
	float: left;
	width: 50px;
}

#fsuggest-desc, #fsuggest-submit-wrapper {
	margin-top: 15px;
	margin-bottom: 15px;
}

.app-name {
	overflow: none;
}

.app-container img {
	margin-left: auto;
	margin-right: auto;
	width: 80px;
	height: 80px;
	display: block;
}

.pager {
  padding: 10px;
  text-align: center;
  font-size: 1.0em;
}


.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n { 
	border: 1px solid #ccc;
	background: transparent;
	padding: 4px;
}

.pager_current {
	border: 1px solid transparent;
	background: transparent;
	padding: 4px;
}

.photo,
.contact-block-img {
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
	box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

#side-bar-photos-albums {
	margin-top: 15px;
}

#side-bar-photos-albums ul {
	list-style: none;
}

.profile-match-photo img,
.directory-photo-img {
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
	box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

.profile-match-photo img {
	width: $top_photo !important;
	height: $top_photo !important;
}

#photo-view-wrapper {
	background-color: $item_colour;
}

.pmenu.horizontal {
	padding: 0 0 0 0;
	border-bottom: none;
}

.pmenu.horizontal .pmenu-title {
	display: none;
}
.pmenu.horizontal ul {
	-moz-padding-start: 0;
}

.pmenu.horizontal li {
	margin-left: 0;
	display: inline;
	padding-right: 15px;
}

.group-delete-wrapper {
	float: right;
}

#pause {
	position: fixed;
	bottom: 5px;
	right: 5px;
}

#contact-block {
	width: 100%;
	float: left;
}

#contact-block-numcontacts {
	font-weight: bold;
	margin-bottom:10px;
}

.contact-block-div {
	float: left;
	width: 50px;
	height: 50px;
}
.contact-block-textdiv {
	float: left;
	width: 150px;
	height: 34px;
}

#contact-block-end {
	clear: both;
}
.contact-block-link {
	float: left;
}
.contact-block-img {
	width:48px;
	height:48px;
}

#tag-remove {
	margin-bottom: 15px;
}

#tagrm li {
	margin-bottom: 10px;
}

#tagrm-submit, #tagrm-cancel {
	margin-top: 25px;
}

#tagrm-cancel {
	margin-left: 15px;
}

.wall-item-conv {
	padding: 7px 10px;
	background-color: $comment_item_colour;
}


#conversation-end {
	clear: both;
}

#nav-notifications-template {
	display: none;
}

#nav-searchbar {
	float: right;
	margin-top: 2px;
	margin-right: 10px;
}

#nav-search-spinner {
	float: left;
	margin: 25px 0px 0px 25px;
	color: $nav_active_icon_colour;
}

#nav-search-text:hover,
#nav-search-text:focus {
	background-color: #fff;
	color: #000; 
}

#nav-search-text {
	font-size: 12px;
	width: 200px;
	height: 20px;
	margin: 15px;
	padding: 0px 5px 0px 5px;
	border-radius: $radiuspx;
	border-color: $nav_bd;
	background-color: #eee;
    	transition: background-color 300ms ease 0s;
}

#nav-search-text::-webkit-input-placeholder {
	font-family: FontAwesome, sans-serif;
}

#nav-search-text::-moz-placeholder {
	font-family: FontAwesome, sans-serif;
}

nav .acpopup {
	top: 50px !important;
	margin-left: -35px;
	width: 290px;
}

.clear {
	clear: both;
}

.descriptive-text {
	color: #888;
}

#plugin-settings-link, #account-settings-link {
	margin-bottom: 10px;
}

#uexport-link {
	margin-bottom: 20px;
}

#network-new-link {
	margin-top: 15px;
	margin-bottom: 15px;
}

#cboxOverlay {
	z-index: 1050;
}

#colorbox {
	z-index: 1051;
}

#cboxContent {
	padding: 3px;
	border: 0px solid #fff;
	border-radius: $radiuspx;
	background-color: #fff;
	z-index: 1052;
}

.app-title {
	margin: 10px;
}

.profile-match-photo {
	float: left;
}

.profile-match-name {
	width: 120px;
	height: 1.5em;
	overflow: hidden !important;
}

.profile-match-note {
	text-align: center;
}

.profile-match-break,
.profile-match-end {
	clear: both;
}

.profile-match-connect {
	text-align: center;
	font-weight: bold;
}

.profile-match-wrapper {
    float: left;
    width: 120px;
    height: 150px;
    padding: 10px;
    margin: 8px 10px 0 0;
    border-top: 1px solid #eee;
    border-left: 2px solid #eee;
}
.profile-match-ignore {
	float: right;
}

#profile-match-wrapper-end {
	clear: both;
}
.side-link {
	margin-bottom: 15px;
}

#group-members {
	margin-top: 20px;
	padding: 10px;
	height: 250px;
	overflow: auto;
	border: 1px solid #ddd;
}

#group-members-end {
	clear: both;
}

#group-separator {
	margin-top: 10px;
	margin-bottom: 10px;
}

#group-all-contacts {
	padding: 10px;
	height: 450px;
	overflow: auto;
	border: 1px solid #ddd;
}

#group-all-contacts-end {
	clear: both;
	margin-bottom: 10px;
}

#group-edit-desc {
	margin-top: 15px;
}


#prof-members {
	margin-top: 20px;
	padding: 10px;
	height: 250px;
	overflow: auto;
	border: 1px solid #ddd;
}

#prof-members-end {
	clear: both;
}

#prof-separator {
	margin-top: 10px;
	margin-bottom: 10px;
}

#prof-all-contacts {
	padding: 10px;
	height: 450px;
	overflow: auto;
	border: 1px solid #ddd;
}

#prof-all-contacts-end {
	clear: both;
	margin-bottom: 10px;
}

#prof-edit-desc {
	margin-top: 15px;
}

.required {
	color: #ff0000;
}

.notif-image {
	height: 80px;
	width: 80px;
	margin-right: 15px;
}
.notification-listing-end {
	clear: both;
	margin-bottom: 15px;
}

/**
 * OAuth
 */
.oauthapp {
	height: auto; overflow: auto;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 1em;
	margin-bottom: 1em;	
}
.oauthapp img {
	float: left;
	width: 48px; height: 48px;
	margin: 10px;
}
.oauthapp .icon {
	margin-right: 20px;
}

.oauthapp img.noicon {
	background-image: url("../../../../images/icons/48/plugin.png");
	background-position: center center;
	background-repeat: no-repeat;
}
.oauthapp a {
	float: left;
}


.body-attach {
	margin-top: 10px;
}

.acpopup li div.taggable {
	color:#cc0000;
}

/* popup notifications */
div.jGrowl div.notice {
  background: #511919 url("../../../../images/icons/48/notice.png") no-repeat 5px center;
  color: #ffffff;
  padding-left: 58px;
}
div.jGrowl div.info {
  background: #364e59 url("../../../../images/icons/48/info.png") no-repeat 5px center;
  color: #ffffff;
  padding-left: 58px;
}
#jGrowl.top-right {
	top: 65px;
	right: 15px;
}

div.jGrowl div.jGrowl-notification {
    min-height: 60px;
}

#id_term_label {
	width:75px;
}
#id_term {
	width:100px;
}

#nav-search-text-ac .autocomplete {
	position: fixed;
	top: 51px;
	border: 1px solid $nav_bd;
	border-top: none;
}

#recip-ac .autocomplete,
#poke-recip-ac .autocomplete,
#id-name-ac .autocomplete,
#contact-search-ac .autocomplete {
	margin-top: 2px;
	margin-left: $radiuspx;
	margin-right: $radiuspx;
	border: 1px solid #666;
	border-top: none;

}

.autocomplete {
	color: $font_colour;
	cursor: pointer;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	border-bottom-left-radius: $radiuspx;
	border-bottom-right-radius: $radiuspx;
}

.autocomplete .selected {
	background: #eee;
}

.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jslider .jslider-scale ins {
	color: #333;
	font-size: $body_font_size;
	width: 100px;
	text-align: center;
}

a.rconnect, a.rateme, div.rateme {
  color: $nav_active_icon_colour;
  text-decoration: none;
  font-weight: normal;
  outline: none;
}

a.rconnect:hover, a.rateme:hover, div.rateme:hover {
	color: #0080FF;
	text-decoration: none;
}

.widget.rateme {
	margin-top: 15px;
	padding: 0;
}

.widget .conv-participants {
	color: $font_colour;
}

.notif-item a {
	color: #000;
}

.notif-item a:hover {
	text-decoration: underline;
	color: #000;
}

.notif-image {
	width: 32px;
	height: 32px;
	padding: 7px 7px 0px 0px;
}

.contactname {
	padding-top: 2px;
	font-weight: bold;
	line-height: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.dropdown-sub-text {
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.notify-seen a {
	background: #ddd;
}

#page-spinner {
	color: #777;
	margin: 24px;
}

.tabs-end {
	clear: both;
}

.modal-header .contextual-help-tool {
	/* Mostly duplicating ".modal-header .close" and ".close" layout settings from bootstrap */
	float: right;
	font-size: 21px;
	padding: 0;
	margin-top: -4px;
	margin-right: 15px;
	line-height: 1;
}

#acl-search {
	padding: 4px;
	border: 1px solid #ccc;
	width: 100%;
}

#acl-search::-webkit-input-placeholder {
	/* non-fontawesome fonts set a fallback for text parts of the placeholder*/
	font-family: FontAwesome, sans-serif, arial, freesans;
}

#acl-search::-moz-placeholder {
	/* non-fontawesome fonts set a fallback for text parts of the placeholder*/
	font-family: FontAwesome, sans-serif, arial, freesans;
}

#aclModal .modal-body {
	padding-top: 10px;
}

#acl-showlimited-description {
	font-size: 90%;
	color: #888;
	margin-left: 10px;
	margin-bottom: 4px;
}

#acl-list {
	border: 1px solid #ccc;
	-webkit-border-radius: $radiuspx ;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

#acl-search-wrapper {
	padding: 7px 10px;
	background-color: $item_colour;
	border-top-left-radius: $radiuspx;
	border-top-right-radius: $radiuspx;
	border-bottom: 1px solid #ccc;
}

#acl-list-content-wrapper {
	display: block;
	overflow: auto;
	clear: both;
	min-height: 62px;
	padding: 10px 10px 0px 0px;

}

#jotnets-wrapper, #jotnets-collapse {
	margin-bottom: 18px;
}

#jot-preview-content {
	margin-top: 10px;
}
.acl-list-item {
	width: 48%; /* fallback if browser does not support calc() */
	width: calc(50% - 10px);
	border: 1px solid #ccc;
	margin: 0px 0px 10px 10px;
	padding: 5px;
	float: left;
	-webkit-border-radius: $radiuspx ;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
	background-color: white;
}

.acl-list-item.grouphide {
	border: 1px solid red;
}

.acl-list-item.groupshow {
	border: 1px solid green;
}

.acl-list-item img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 5px;
	-webkit-border-radius: $radiuspx ;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

.acl-list-item.taggable {
	background-color: #ddddff;
}

.acl-list-item p {
	font-size: $font_size;
	margin: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.acl-button-show,
.acl-button-hide {
	float: right;
	margin-left: 5px;
}

#acl-showlimited-caption,
#acl-showall-caption {
	font-size: 115%;
}

#acl-radiowrapper-showall {
	margin-top: 20px;
	margin-bottom: 20px;
}
#acl-radiowrapper-showlimited {
	margin-bottom: 0;
}

#acl-showall + i {
	font-size: 140%;
}

#acl-info-icon,
#acl-info-icon:active {
	font-size: 110%;
	color: $link_colour;
	text-decoration: none;
}

#acl-showall-caption {
	margin-left: 0.35em;
}

.contact-block-content {
	margin-top: 10px;
}
.contact-block-img.archived {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.profile-match-connect { margin-top: 5px; }

.reshared-content { margin-left: 20px; }
.shared_header img {
	border-radius: $radiuspx;
	margin-right: 10px;
}

.tag1 {
    font-size : 0.9em !important;
  }
.tag2 {
    font-size : 1.0em !important;
  }


.tag3 {
    font-size : 1.1em !important;
  }


.tag4 {
    font-size : 1.2em !important;
  }


.tag5 {
    font-size : 1.3em !important;
  }


.tag6 {
    font-size : 1.4em !important;
  }


.tag7 {
    font-size : 1.5em !important;
  }


.tag8 {
    font-size : 1.6em !important;
  }


.tag9 {
    font-size : 1.7em !important;
  }


.tag10 {
    font-size : 1.8em !important;
  }

div#write-pages {
display: block;
background: silver;
width: 100%;
}

div#write-pages a {
color: #000;
margin-right: 50px;
}

.pmenu ul {
	list-style-type: none;
}

.generic-icons {
	font-size: 1.2em;
	color: $toolicon_colour;
	margin-right: 7px;
}

.generic-icons:hover {
	color: $toolicon_colour;
}

.admin-icons {
	font-size: 1.2em;
	color: $toolicon_colour;
	margin-right: 7px;
}

.drop-icons,
a .drop-icons {
	color: $toolicon_colour;
	font-size: 1.2em;
	text-decoration: none;
	cursor: pointer;
}

.drop-icons:hover,
a .drop-icons:hover {
	color: #FF0000;
}

.lockview {
	cursor: pointer;
}

.permission-inherited {
	float: left;
	margin-right: 10px;
	color: #FF0000;
}

#menulist {
	list-style-type: none;
}

#adminpage table tr:hover {
	background-color: #BBC7D7;
}

table {
	border-spacing: 2px;
	max-width: 100%;
}

th,td {
	padding: 3px;
}

#channels > tbody > tr > td, #users > tbody > tr > td {
	max-width: 19.4em;
	overflow: hidden;
}
	
/* mail */

img.mail-conv-sender-photo {
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

/* jot */

.jothidden {
	font-weight: bold;
}

.jothidden input::-webkit-input-placeholder {
	font-weight: bold;
}

.jothidden input::-moz-placeholder {
	font-weight: bold;
}



#profile-jot-wrapper {
	background-color: rgba(254,254,254,1);
	border: 1px solid #ccc;
	border-radius: $radiuspx;

}

#profile-jot-text {
	border-radius: $radiuspx;
}

#profile-jot-text::-webkit-input-placeholder {
	font-size: 16px;
}

#profile-jot-text::-moz-placeholder {
	font-size: 16px;
}

#profile-jot-text:focus::-webkit-input-placeholder {
	color: transparent;
}

#profile-jot-text:focus::-moz-placeholder {
	color: transparent;
}

#profile-jot-text-loading {
	color: #777;
	display: none;
}

#profile-rotator {
	color: #777;
}

.jot-icons {
	color: $toolicon_colour;
}

/* conversation */
.nsfw-wrap {
	text-align: center;
	font-size: $body_font_size;
}

.wall-event-item {
	padding: 10px;
	color: #fff;
	background-color: #3A87AD; /* should reflect calendar color */
	border-top-left-radius: $radiuspx;
	border-top-right-radius: $radiuspx;
}

.wall-photo-item img {
	max-width: 100% !important;
	border-top-right-radius: $radiuspx;
	border-top-left-radius: $radiuspx;
}

.wall-item-title {
	font-size: $font_size;
}

.wall-item-footer {
	font-size: $body_font_size;
	margin-top: 2em;
}

.wall-item-content-wrapper {
	background-color: $item_colour;
	border-top-right-radius: $radiuspx;
	border-top-left-radius: $radiuspx;
}

.wall-item-content-wrapper.comment {
	background-color: $comment_item_colour;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.hide-comments-outer {
	background-color: $comment_item_colour;
	border-top-color: #ccc;
	border-style: solid;
	border-top-style: dashed;
	border-width: 1px 0px 0px 0px;
	text-align: center;
	border-radius: 0px;
}

.hide-comments-outer:hover {
	border-top: 1px dashed #adadad;
}

.wall-item-comment-wrapper {
	padding: 7px 10px;
	background-color: $item_colour;
	border-radius: 0px;
	border-bottom-right-radius: $radiuspx;
	border-bottom-left-radius: $radiuspx;
	border-top: 3px solid $comment_item_colour;
}

.wall-item-comment-wrapper-wc {
	border-top: 0px solid $comment_item_colour;
}

.wall-item-like,
.wall-item-dislike {
	font-size: 11px;
}

.wall-item-photo {
	border: none;
	width: $top_photo !important;
	height: $top_photo !important;

}

.comment .wall-item-photo {
	width: $reply_photo !important;
	height: $reply_photo !important;
}

.wall-item-photo {
    border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

.wall-item-ago,
.dropdown-sub-text {
	color: #777;
	font-size: 0.833em;
}

.wall-item-ago i {
	font-size: 0.833em;
}

.wall-item-content,
.mail-conv-body,
.page-body,
.chat-item-text,
.chat-item-text-self {
	font-size: $font_size;
	clear: both;
}

.item-tool {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.like-rotator {
	color: $toolicon_colour;
}

.comment-icon {
	font-size: 0.833em;
	color: $toolicon_colour;
}

.comment-edit-text-empty,
.comment-edit-text-full {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
}

.comment-edit-text-empty {
	color: gray;
	font-size: 12px;
}

.comment-edit-text-full {
	color: black;
}

.divgrow-showmore {
	display: block;
	border-top: 1px dashed #ccc;
	text-align: center;
}

.divgrow-showmore:hover {
	border-top: 1px dashed #adadad;
}

.directory-item .divgrow-showmore {
	background-color: $comment_item_colour;
}

/* widgets */

.widget {
	background-color: rgba(254,254,254,.5);
	border: 1px solid rgba(254,254,254,.5);
	-moz-border-radius: $radiuspx;
	-webkit-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

.widget h3 {
	color: $toolicon_colour;
}

#note-text {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
}

.fileas-ul {
	list-style-type: none;
}

#datebrowse-sidebar select {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
}

.thing-show img {
	margin: 10px;
}

.abook-self {
	background-color: #ffdddd;
}

.abook-pending-contact, .abook-permschange {
	background: orange;
}

.online-now {
	color: red;
	cursor: pointer;
}

.chat-item-photo,
.chat-item-photo-self {
	border-radius: $radiuspx;
}

.chat-item-title,
.chat-item-title-self {
	border-radius: $radiuspx;
	background-color: $item_colour;
}

#chatMembers img {
	border-radius: $radiuspx;
}

/* nav bootstrap */


nav img {
	border-radius: $radiuspx;
}

nav .dropdown-menu {
	font-size: $body_font_size;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: $radiuspx;
	border-bottom-left-radius: $radiuspx;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	color: #333;
	background-color: #f5f5f5;
}

.dropdown-menu-img-sm {
	float: left;
	width: 36px;
	height: 36px;
	margin-right: 5px;
}

.dropdown-menu-img-xs {
	height: 18px;
	width: 18px;
	margin-right: 5px;
}

#usermenu-caret {
	color: $nav_icon_colour;
}

#avatar:hover + #usermenu-caret {
	color: $nav_active_icon_colour;
}

.page-title {
	margin: 7px 0px;
}

.generic-content-wrapper-styled {
	background-color: $bgcolour;
	padding: 10px;
	border-radius: $radiuspx;
}

.generic-content-wrapper {
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
	border-radius:  $radiuspx;
}

.section-title-wrapper {
	padding: 7px 10px;
	background-color: $item_colour;
	border-top-left-radius: $radiuspx;
	border-top-right-radius: $radiuspx;
	border-bottom: 3px solid $comment_item_colour;
}

.section-title-wrapper h2,
.section-subtitle-wrapper h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.section-subtitle-wrapper {
	padding: 7px 10px;
	background-color: $item_colour;
	border-bottom: 3px solid $comment_item_colour;
}

.section-content-tools-wrapper {
	padding: 7px 10px;
	background-color: $comment_item_colour;
	border-bottom: 3px solid comment_item_colour;
}

.section-content-info-wrapper {
	padding: 21px 10px;
	color: #31708f;
	background-color: #d9edf7;
	border-bottom: 3px solid $comment_item_colour;
	text-align: center;
}

.section-content-warning-wrapper {
	padding: 21px 10px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-bottom: 3px solid $comment_item_colour;
	text-align: center;
}

.section-content-danger-wrapper {
	padding: 21px 10px;
	color: #a94442;
	background-color: #f2dede;
	border-bottom: 3px solid $comment_item_colour;
	text-align: center;
}

.section-content-tools-wrapper .section-content-info-wrapper,
.section-content-wrapper .section-content-info-wrapper,
.section-content-tools-wrapper .section-content-warning-wrapper,
.section-content-wrapper .section-content-warning-wrapper,
.section-content-tools-wrapper .section-content-danger-wrapper,
.section-content-wrapper .section-content-danger-wrapper {
	margin-bottom: 10px;
	border-bottom: none;
	border-radius: $radiuspx;
}


.section-content-wrapper {
	padding: 7px 10px;
	background-color: $comment_item_colour;
	border-bottom-left-radius: $radiuspx;
	border-bottom-right-radius: $radiuspx;
	word-wrap: break-word;
}

.section-content-wrapper-np {
	background-color: $comment_item_colour;
	border-bottom-left-radius: $radiuspx;
	border-bottom-right-radius: $radiuspx;
	word-wrap: break-word;
}

main.fullscreen {
	left: 0px;
	width: 100%;
	height: 100%;
	max-width: none;
}

main.fullscreen .generic-content-wrapper {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	border-radius: 0px;
}

main.fullscreen .section-title-wrapper {
	border-radius: 0px;
}

main.fullscreen .section-content-wrapper,
main.fullscreen .section-content-wrapper-np {
	border-radius: 0px;
}

#inline-btn {
	display: none;
}

.atoken-index-row:hover td,
.chatroom-index-row:hover td,
.locs-index-row:hover td,
[id^="cloud-index-"]:hover td,
.cloud-index-active {
	background-color: $item_colour;
}

[id^="webpage-list-item-"]:hover td,
[id^="block-list-item-"]:hover td,
[id^="layout-list-item-"]:hover td,
[id^="menu-list-item-"]:hover td,
[id^="mitem-list-item-"]:hover td {
	background-color: $item_colour;
}

#perms-tool-table .highlight:hover {
	background-color: $item_colour;
}

nav ul li .undefined, 
nav ul li .notify-seen,
nav ul li .notify-unseen
 {
    max-height: 3rem;
}

/* bootstrap overrides */

.panel {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
          box-shadow: 0 0px 0px rgba(0, 0, 0, .0);
}

.panel-group .panel + .panel {
	margin-top: 0px;
}

blockquote {
	font-size: $font_size;
	font-style: italic;
	border-left: 3px solid #ccc;
	padding: 1em 0px 1em 1.5em;
	margin: 0px;
}

.badge {
	border-radius: $radiuspx;
}

nav .badge:hover {
	background-color: #999;
}

nav .badge.home-update,
nav .badge.notify-update,
nav .badge.intro-update,
nav .badge.mail-update {
	background-color:#C9302C;
}

nav .badge.home-update:hover,
nav .badge.notify-update:hover,
nav .badge.intro-update:hover,
nav .badge.mail-update:hover {
	background-color:#D9534F;
}

.dropdown-menu {
	font-size: $body_font_size;
	border-radius: $radiuspx;
}

.dropdown-menu img {
	border-radius: $radiuspx;
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top, $nav_gradient_top 0%, $nav_gradient_bottom 100%);
	background-image:         linear-gradient(to bottom, $nav_gradient_top 0%, $nav_gradient_bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$nav_gradient_top, endColorstr=$nav_gradient_bottom, GradientType=0);
	background-color: $nav_bg;
	border-color: $nav_bd;
}

.navbar-inverse .navbar-collapse {
	border-color: $nav_bd;
}

.navbar-inverse .navbar-nav > .active > a {
	background-image: -webkit-linear-gradient(top, $nav_active_gradient_top 0%, $nav_active_gradient_bottom 100%);
	background-image:         linear-gradient(to bottom, $nav_active_gradient_top 0%, $nav_active_gradient_bottom 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$nav_active_gradient_top, endColorstr=$nav_active_gradient_bottom, GradientType=0);
}


.navbar-inverse .navbar-nav > li > a {
	color: $nav_icon_colour;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: $nav_active_icon_colour;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: $nav_active_icon_colour;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: $nav_bd;
	color: $nav_active_icon_colour;
}

.navbar-inverse .navbar-toggle {
	border-color: $nav_bd;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: $nav_bg;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: $nav_active_icon_colour;
}

#expand-aside,
#expand-tabs,
#context-help-btn {
	color: $nav_active_icon_colour;
	padding: 7px 10px;
}

.nav-tabs.nav-justified {
	background-color: rgba(254,254,254,.5);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	border-bottom-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: transparent;
}

#tabs-collapse-1 {
	padding: 0px;
	margin-bottom: 25px;
}

.btn {
	font-size: $body_font_size;
}

.btn-xs {
	font-size: 0.75rem;
}

.btn-default {
	background-color: transparent;
}

@media screen and (max-width: 767px) {

	aside#region_1 {
		background: rgba(0, 0, 0, .1);
		border-right: 1px solid $nav_bd;
	}

	main {
		transition: all 0.25s ease-in-out;
	}

	main {
		left: -$aside_widthpx;
		width: calc( 100% + $aside_widthpx );
	}

	main.region_1-on {
		left: 0px;
	}

	.thread-wrapper.toplevel_item {
		width: 100%;
		border:1px;
	}

	.wall-item-photo {
		width: 48px !important;
		height: 48px !important;
	}

	.comment .wall-item-photo {
		width: 32px !important;
		height: 32px !important;
	}

	.acl-list-item {
		width: 98%; /* fallback if browser does not support calc() */
		width: calc(100% - 10px);
	}

}

/* release the navbar in landscape view on small devices */
@media screen and (max-height: 320px) {
	.navbar-fixed-top {
		position: absolute;
	}
}

.shareable_element_text {
	height: 300px;
	width: 300px;
}

.bb_observer {
	color: red;
}

.bb_observer img {
	border: 3px solid red !important;
}

.bb_rm-logo {
	height: 1.3em;
	width: auto;
	margin-top:-3px;
}

dl.bb-dl > dt { 
	/* overriding the default dl style from bootstrap, as bootstrap's
	   style of a bold unindented line followed by a plain unindented
	   line is already acheivable in bbcode without dl */
	font-weight: normal; 
} 
dl.dl-terms-monospace > dt { font-family:     monospace; }
dl.dl-terms-bold      > dt { font-weight:     bold; }
dl.dl-terms-italic    > dt { font-style:      italic; }
dl.dl-terms-underline > dt { text-decoration: underline; }
dl.dl-terms-large     > dt { font-size:       120%; }
dl.bb-dl:not(.dl-horizontal) > dd {
	display: block;
	margin-left: 2em;
}
dl.bb-dl > dd > li {
	/* adding some indent so bullet-list items will line up better with 
	   dl descriptions if someone wants to be impure and combine them */
	margin-left: 1em;
}

.bootstrap-tagsinput .tag:before {
	/* Copied from fa-asterisk, is there a better way to do it? */
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	content:"\f069";
}

/* Modified original CSS to match input in Redbasic */
.jothidden .bootstrap-tagsinput {
	border: 0px solid transparent;
	margin-bottom: 0px;
	box-shadow: none;
	display: inline-block;
	border-radius: $radiuspx;
	cursor: text;
	padding: 0px 10px;
	width: 100%;
}

.bootstrap-tagsinput .label {
	font-size: 100%;
}

/* Abusing theme-green is less work than makeing a new new one */
.theme-green .back-bar .selected-bar {
	background-color: #000000;
	background-image: none !important;
}


/* Turn checkboxes into switches */
.field.checkbox > div {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display:inline-block;
}

.field.checkbox input {
    display: none;
}

.field.checkbox > div label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:0px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field.checkbox:hover label {
	color: $link_colour;
}

.field.checkbox:hover > div label {
	border-color: $link_colour;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height:20px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: attr(data-on);
    padding-right: 21px;
    background-color: $item_colour;
	color: $font_colour;
    text-align: right;
}

.onoffswitch-inner:after {
    content: attr(data-off);
    padding-left: 21px;
    background-color: $item_colour; color: #ccc;
    text-align: left;
}

.onoffswitch-switch {
    display: block; width: 15px; margin:4px;
    background: #ccc;
    border-radius: 10px;
    position: absolute; top: 0; bottom: 0; right: 36px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.field.checkbox > div > input:checked + label .onoffswitch-inner {
    margin-left: 0px;
}

.field.checkbox > div > input:checked + label .onoffswitch-switch {
    right: 0px;
    background-color: #337AB7;
}

.help-searchlist {
	list-style-type: none;
}

.help-searchlist a {
	font-size: 130%;
}

.embed-photo-selected-photo {
    border-color: blue;
    border-style: solid;
    border-width: 5px;
}

#wiki-preview img {
    max-width: 100%;
}
